﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section javascript{
    <script>
  $( function() {
      $("#btnSalvar").click(function () {
          var nomeMedico = $("#nomeMedico").val();
          var crmMedico = $("#crmMedico").val();
          var descricaoMedico = $("#descricaoMedico").val();
         
          if (nomeMedico == "") {
              return alert("Campo 'Nome' obrigatório");
          }

          if (crmMedico == "") {
              return alert("Campo 'CRM' obrigatório");
          }

          if (descricaoMedico == 0) {
              return alert("Campo 'Descrição' obrigatório");
          }
         
          $.ajax(
           {
               type: "POST",
               url: "/Medico/Salvar",
               data: "nomeMedico=" + nomeMedico + "&crmMedico=" + crmMedico + "&descricaoMedico=" + descricaoMedico,
               success: function (data) {
                   if (data !== "CRM já cadastrado") {
                       window.location.href = 'Index';
                   }
                   else
                   {                     
                       $("#crmMedico").val("");
                       alert(data);
                   }
               },
               error: function (e) {
                   alert("Erro de conexão com o banco de dados.");
               }
           })
      });
  });


    </script>
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>Novo Médico</h2>
    <hr />
</div>

<br />
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Nome:</label>
            <input type="text" class="form-control" id="nomeMedico" />
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>CRM:</label>
            <input type="number" class="form-control" id="crmMedico" />
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Descrição:</label>
            <textarea type="text" class="form-control" id="descricaoMedico"></textarea>
        </div>
    </div>
</div>

<div class="col-xs-2">
</div>
<div class="col-xs-4">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4">
        <br />
        <button id="btnSalvar" class="btn btn-block btn-primary"><i class="fa fa-save"></i>Salvar</button>
    </div>
    <br />
</div>

