﻿
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SGH.Entities;
@model Medico

@section javascript{
    <script>
  $( function() {
      $("#btnAlterar").click(function () {
          var nomeMedico = $("#nomeMedico").val();
          var crmMedico = $("#crmMedico").val();
          var descricaoMedico = $("#descricaoMedico").val();

          if (nomeMedico == "") {
              return alert("Campo 'Nome' obrigatório");
          }

          if (crmMedico == "") {
              return alert("Campo 'CRM' obrigatório");
          }

          if (descricaoMedico == 0) {
              return alert("Campo 'Descrição' obrigatório");
          }

          $.ajax(
           {
               type: "POST",
               url: "/Medico/Alterar",
               data: "nomeMedico=" + nomeMedico + "&crmMedico=" + crmMedico + "&descricaoMedico=" + descricaoMedico,
               success: function (data) {
                   window.location.href = 'Index';
               },
               error: function (e) {
                   alert("Erro de conexão com o banco de dados.");
               }
           })
      });
  });


    </script>
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>Alterar Médico</h2>
    <hr />
</div>

<br />
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Nome:</label>
            <input type="text" class="form-control" id="nomeMedico" value="@Model.Nome"/>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>CRM:</label>
            <input type="number" class="form-control" id="crmMedico" value="@Model.CRM" readonly/>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Descrição:</label>
            <textarea type="text" class="form-control" id="descricaoMedico" >@Model.Descricao </textarea>
        </div>
    </div>
</div>

<div class="col-xs-2">
</div>
<div class="col-xs-4">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4">
        <br />
        <button id="btnAlterar" class="btn btn-block btn-primary"><i class="fa fa-save"></i>Alterar</button>
    </div>
    <br />
</div>



