﻿
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SGH.Entities;
@model Medicacao

@section javascript{
    <script>
  $( function() {
      $("#btnAlterar").click(function () {
          var nomeMedicacao = $("#nomeMedicacao").val();
          var descricaoMedicacao = $("#descricaoMedicacao").val();
          var idMedicacao = $("#idMedicacao").val();

          if (nomeMedicacao == "") {
              return alert("Campo 'Nome' obrigatório");
          }

          if (descricaoMedicacao == 0) {
              return alert("Campo 'Descrição' obrigatório");
          }

          $.ajax(
           {
               type: "POST",
               url: "/Medicacao/Alterar",
               data: "idMedicacao=" + idMedicacao + "&nomeMedicacao=" + nomeMedicacao + "&descricaoMedicacao=" + descricaoMedicacao,
               success: function (data) {
                   window.location.href = 'Index';
               },
               error: function (e) {
                   alert("Erro de conexão com o banco de dados.");
               }
           })
      });
  });


    </script>
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>Alterar Medicamento</h2>
    <hr />
</div>

<br />
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Nome:</label>
            <input type="text" class="form-control" id="nomeMedicacao" value="@Model.Nome" />
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Descrição:</label>
            <textarea type="text" class="form-control" id="descricaoMedicacao">@Model.Descricao </textarea>
        </div>
    </div>

    <input type="number" class="form-control hidden" id="idMedicacao" value="@Model.IdMedicacao"/>
</div>

<div class="col-xs-2">
</div>
<div class="col-xs-4">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4">
        <br />
        <button id="btnAlterar" class="btn btn-block btn-primary"><i class="fa fa-save"></i>Alterar</button>
    </div>
    <br />
</div>
