﻿
@{
    Layout = null;
}
@model SGH.Web.Models.LoginModel

<!DOCTYPE html>

<html>
<head>
    <title>SGH</title>
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>
      
             .container{
           
            /*background-repeat: no-repeat;*/
          background-image: url("../Imagens/background.jpeg");
        /* Máximo da largura da imagem */
          width: 100%;
          height:100%;
          /* Máximo da altura da imagem */
            /* Mínimo da altura, por padrão “auto” */
          background-size:100%;
          background-repeat: no-repeat;
            }
       

        .card-container.card {
            max-width: 350px;
            padding: 40px 40px;
        }

        .btn {
            font-weight: 700;
            height: 36px;
            -moz-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            cursor: default;
        }

        /*
        * Card component
        */
        .card {
            background-color: #F7F7F7;
            /* just in case there no content*/
            padding: 20px 25px 30px;
            margin: 0 auto 25px;
            margin-top: 50px;
            /* shadows and rounded borders */
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        }

        .profile-img-card {
            width: 200px;
            height: 200px;
            margin: 0 auto 10px;
            display: block;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            background-color: white;
        }

        /*
        * Form styles
        */
        .profile-name-card {
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            margin: 10px 0 0;
            min-height: 1em;
        }

        .reauth-email {
            display: block;
            color: #404040;
            line-height: 2;
            margin-bottom: 10px;
            font-size: 14px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        .form-signin #inputEmail,
        .form-signin #inputPassword {
            direction: ltr;
            height: 44px;
            font-size: 16px;
        }

        .form-signin input[type=email],
        .form-signin input[type=password],
        .form-signin input[type=text],
        .form-signin button {
            width: 100%;
            display: block;
            margin-bottom: 10px;
            z-index: 1;
            position: relative;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        .form-signin .form-control:focus {
            border-color: rgb(104, 145, 162);
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
        }

        .btn.btn-signin {
            /*background-color: #4d90fe; */
            background-color: rgb(104, 145, 162);
            /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
            padding: 0px;
            font-weight: 700;
            font-size: 14px;
            height: 36px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            border: none;
            -o-transition: all 0.218s;
            -moz-transition: all 0.218s;
            -webkit-transition: all 0.218s;
            transition: all 0.218s;
        }

            .btn.btn-signin:hover,
            .btn.btn-signin:active,
            .btn.btn-signin:focus {
                background-color: rgb(12, 97, 33);
            }

        .forgot-password {
            color: rgb(104, 145, 162);
        }

            .forgot-password:hover,
            .forgot-password:active,
            .forgot-password:focus {
                color: rgb(12, 97, 33);
            }
    </style>
</head>
<body class="container">

    
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div>
                    <div class="card card-container">
                        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
                        <img id="profile-img" class="profile-img-card" src="~/IMG/login.PNG" />
                        <p id="profile-name" class="profile-name-card"></p>
                        <form class="form-signin">
                            <span id="reauth-email" class="reauth-email"></span>
                            @*<input type="email" id="inputEmail" class="form-control" placeholder="Email " required autofocus>*@
                            @Html.EditorFor(model => model.LoginAcesso, new { htmlAttributes = new { @class = "form-control" , @type = "email", @id = "inputEmail", @placeholder="Email ", @autofocus = "autofocus" } })
                            @Html.ValidationMessageFor(model => model.LoginAcesso, "", new { @class = "text-danger" })


                            @Html.EditorFor(model => model.SenhaAcesso, new { htmlAttributes = new { @class = "form-control", @type = "password", @id = "inputPassword", @placeholder = "Senha" } })
                            @Html.ValidationMessageFor(model => model.SenhaAcesso, "", new { @class = "text-danger"})
                         @*<input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>*@
                            <div id="remember" class="checkbox">
                                <label>
                                    <input type="checkbox" value="remember-me"> Lembrar me
                                </label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Entrar</button>
                        </form><!-- /form -->
                        <a href="#" class="forgot-password"  data-toggle="modal" data-target="#modalRecuperarSenha">
                            Esqueceu a senha?
                        </a>
                        <div>
                            <span style="color:red">
                                @ViewBag.Mensagem
                            </span>
                        </div>
                    </div><!-- /card-container -->
                </div><!-- /container -->
            }

            <!-- INICIO MODAL AICIONAR -->
            <div class="modal fade" id="modalRecuperarSenha">
                <div class="modal-dialog">
                    <div class="modal-content borda-redonda" style="overflow:auto; background-color: #F7F7F7;">
                        @using (Html.BeginForm("RecuperarSenha", "Login", FormMethod.Post))
                        {
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;Recuperar Senha</h4>
                            </div>
                            <div class="modal-body">
                                <label>Digite seu email cadastrado no sistema</label>
                                @Html.EditorFor(model => model.LoginAcesso, new { htmlAttributes = new { @class = "form-control", @type = "email", @id = "inputEmailModal", @placeholder = "Email ", @required = "required", @autofocus = "autofocus" } })
                                @*<input type="email" id="inputEmail" class="form-control" placeholder="Email " required autofocus>*@

                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-small" data-dismiss="modal" id="btnCancelarTipoContratacao">
                                    Cancelar
                                </button>

                                <button class="btn btn-small btn-primary" type="submit">
                                    Enviar
                                </button>
                            </div>
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>





