﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section javascript{
    <script type="text/javascript"> 
        $(document).ready(
            function () {
                //ao carregar preenche a tabela
                $.ajax(
                    {
                        type: "POST",
                        url: "/Paciente/CarregarPacientes",                       
                        success: function (dados) {
                            $("#tabelaPaciente tbody").html(dados);
                        },
                        error: function (e) {
                            $("#mensagem").html(e.status);
                        }
                    })
                
                //enquanto digitar o nome no campo
                $("#nomePaciente").keyup(
                    function () {
                        $.ajax(
                            {
                                type: "POST",
                                url: "/Paciente/ConsultarPacientes",
                                data: "Nome=" + $("#nomePaciente").val(),
                                success: function (dados) {
                                    $("#tabelaPaciente tbody").html(dados);
                                },
                                error: function (e) {
                                    $("#mensagem").html(e.status);
                                }
                            })
                    })
        })
        

    </script>    
    }
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">    
    <h2>Pacientes</h2>
    <hr />
</div>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <label>Nome do Paciente: </label>
        <input type="text" id="nomePaciente" class="form-control" />
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <br />
        <a href="Create" class='btn btn-primary btn-sm' style="margin-top: 6px"> Novo Paciente </a>
    </div>

    @*<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <label>Nome do Médico: </label>
        <input type="text" id="nomeMedico" class="form-control" />
    </div>*@
</div>



<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <br />
    <br />
    <span id="mensagem"></span>

    <table id="tabelaPaciente" class="table table-hover">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Sexo</th>
                <th>Data de Nascimento</th>
                <th>Telefone</th>
                <th>Estado</th>
                <th>Cidade</th>
                <th>Bairro</th>
                <th>CEP</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
</div>


