﻿
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SGH.Entities;
@model Paciente

@section javascript{
    <script>
  $( function() {
     // $("#datepicker").datepicker();

      jQuery("#btnAdicionarTelefone").click(function () {
          var telefone = jQuery("#telefonePaciente").val();
          var tipoTelefone = jQuery("#tipoTelefonePaciente").val();
          var tdTotal = "";

          $.ajax(
            {
                type: "POST",
                url: "/Telefone/AdicionarTelefoneSession",
                data: "telefoneNumero=" + telefone + "&tipoTelefone=" + tipoTelefone,
                success: function (dados) {
                    if (dados != "Telefone já cadastrado") {

                        tdTotal += "<tr class='text-center odd' role='row' id=tel" + dados.NumeroTel + ">";
                        tdTotal += "  <td class='sorting_1'><a href='#' title='Excluir' onclick ='return excluirTelefone(\"tel" + dados.NumeroTel + "\", \"" + dados.NumeroTel + "\")' ><i class='glyphicon glyphicon-trash'></i> Excluir</a></td>";
                        tdTotal += "  <td class=''>" + dados.NumeroTel + "</td>";
                        tdTotal += "  <td class=''>" + dados.TipoTel + "</td>";
                        tdTotal += "</tr>";
                        jQuery("#TabelaTelefone > tr:first").before(tdTotal);
                    }
                    else {
                        alert(dados);
                    }

                   jQuery("#telefonePaciente").val("");
                   jQuery("#tipoTelefonePaciente").val("");
                },
                error: function (e) {
                    $("#mensagem").html(e.status);
                }
            })
      });

      $("#btnAlterar").click(function () {
          var idPaciente = $("#idPaciente").val();
          var idEndereco = $("#idEndereco").val();
          var nomePaciente = $("#nomePaciente").val();
          var emailPaciente = $("#emailPaciente").val();
          var sexoPaciente = $("#cmdSexoPaciente  option:selected").val();
          var dataNascimentoPaciente = $("#datepicker").val();
          var logradouroPaciente = $("#logradouroPaciente").val();
          var bairroPaciente = $("#bairroPaciente").val();
          var cidadePaciente = $("#cidadePaciente").val();
          var estadoPaciente = $("#estadoPaciente").val();
          var cepPaciente = $("#cepPaciente").val();

          if (nomePaciente == "") {
              return alert("Campo 'Nome' obrigatório");
          }

          if (emailPaciente == "") {
              return alert("Campo 'Email' obrigatório");
          }

          if (sexoPaciente == 0) {
              return alert("Campo 'Sexo' obrigatório");
          }

          if (dataNascimentoPaciente == "") {
              return alert("Campo 'Data de Nascimento' obrigatório");
          }

          if (logradouroPaciente == "") {
              return alert("Campo 'Logradouro' obrigatório");
          }

          if (bairroPaciente == "") {
              return alert("Campo 'Bairro' obrigatório");
          }

          if (cidadePaciente == "") {
              return alert("Campo 'Cidade' obrigatório");
          }

          if (estadoPaciente == "") {
              return alert("Campo 'Estado' obrigatório");
          }

          if (cepPaciente == "") {
              return alert("Campo 'CEP' obrigatório");
          }

          $.ajax(
           {
               type: "POST",
               url: "/Paciente/Alterar",
               data: "idPaciente="+ idPaciente + "&idEndereco="+ idEndereco +"&nomePaciente=" + nomePaciente + "&emailPaciente=" + emailPaciente + "&sexoPaciente=" + sexoPaciente +
                        "&dataNascimento=" + dataNascimentoPaciente + "&logradouro=" + logradouroPaciente + "&bairro=" + bairroPaciente +
                            "&cidade=" + cidadePaciente + "&estado=" + estadoPaciente + "&cep=" + cepPaciente,
               success: function () {
                   window.location.href = 'Index'; 
               },
               error: function (e) {
                   alert("Erro de conexão com o banco de dados.");
               }
           })
      });
  });

  function excluirTelefone(linha, telefone) {
      $.ajax(
       {
           type: "POST",
           url: "/Telefone/ExcluirTelefoneSession",
           data: "tel=" + telefone,
           success: function (msgRetorno) {
               if (msgRetorno !== "") {
                   alert(msgRetorno);
                   jQuery("#" + linha).closest('tr').remove();
               }
               else {
                   if (window.ActiveXObject || "ActiveXObject" in window) {
                       jQuery(linha).closest('tr').remove();
                   }
                   else {
                       alert("Telefone não encontrado.");
                   }
               }
           },
           error: function (e){
               alert("Erro de conexão com o banco de dados.");
           }
       })
  }

  function excluirTelefoneBanco(linha, id) {
      $.ajax(
       {
           type: "POST",
           url: "/Telefone/AdicionarTelefoneSessionExclusao",
           data: "id=" + id,
           success: function (msgRetorno) {
               if (msgRetorno !== "") {
                   alert(msgRetorno);
                   jQuery("#" + linha).closest('tr').remove();
               }
               else {
                   if (window.ActiveXObject || "ActiveXObject" in window) {
                       jQuery(linha).closest('tr').remove();
                   }
                   else {
                       alert("Telefone não encontrado.");
                   }
               }
           },
           error: function (e){
               alert("Erro de conexão com o banco de dados.");
           }
       })
  }
</script>
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>Alterar Paciente</h2>
    <hr />
</div>

<div class="nav-tabs-custom testando" id="tudo">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_principal" data-toggle="tab" aria-expanded="true">Principal</a></li>
        <li class=""><a href="#tab_endereco" data-toggle="tab" aria-expanded="false">Endereço</a></li>
        <li class=""><a href="#tab_telefone" data-toggle="tab" aria-expanded="false">Telefones</a></li>
    </ul>
    <div class="tab-content">
        <!-- PRINCIPAL -->
        <div class="tab-pane active" id="tab_principal">
            <br />
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <br />
                    <div class="col-xs-4">
                        <label>Nome:</label>
                        <input type="text" class="form-control" id="nomePaciente" value="@Model.Nome"/>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <br />
                    <div class="col-xs-4">
                        <label>Email:</label>
                        <input type="text" class="form-control" id="emailPaciente" value="@Model.Email" />
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <br />
                    <div class="col-xs-4">
                        <label>Sexo:</label>
                        @if (Model.Sexo.Equals("M"))
                        {
                            <select class="form-control" id="cmdSexoPaciente">
                                <option value="0">-- Selecione --</option>
                                <option value="M" selected>Masculino</option>
                                <option value="F">Feminino</option>
                            </select>
                        }
                        else
                        {
                            <select class="form-control" id="cmdSexoPaciente">
                                <option value="0">-- Selecione --</option>
                                <option value="M">Masculino</option>
                                <option value="F" selected>Feminino</option>
                            </select>
                        }
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <br />
                    <div class="col-xs-4">
                        <label>Data de Nascimento:</label>
                        <input type="text" class="form-control" id="datepicker" value="@Model.DataNascimento">
                    </div>
                </div>
            </div>
        </div><!-- /row-->
        <!-- ENDEREÇOS -->
        <div class="tab-pane active" id="tab_endereco">
            <br />
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @foreach (var item in Model.Endereco)
                {
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <br />
                        <div class="col-xs-4">
                            <label>Logradouro:</label>
                            <input type="text" class="form-control" id="logradouroPaciente" value="@item.Logradouro" />
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <br />
                        <div class="col-xs-4">
                            <label>Bairro:</label>
                            <input type="text" class="form-control" id="bairroPaciente" value="@item.Bairro"/>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <br />
                        <div class="col-xs-4">
                            <label>Cidade:</label>
                            <input type="text" class="form-control" id="cidadePaciente" value="@item.Cidade"/>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <br />
                        <div class="col-xs-4">
                            <label>Estado:</label>
                            <input type="text" class="form-control" id="estadoPaciente" value="@item.Estado"/>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <br />
                        <div class="col-xs-4">
                            <label>CEP:</label>
                            <input type="number" class="form-control" id="cepPaciente" value="@item.Cep"/>
                        </div>
                    </div>
                }
                
            </div>
        </div><!-- /row-->
        <!-- TELEFONE -->
        <div class="tab-pane active" id="tab_telefone">
            <br />
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <br />
                    <div class="col-xs-4">
                        <table id="tabelaTelefone" class="table table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="tabela_info">
                            <thead>
                                <tr role="row">
                                    <th class="text-center " tabindex="0" aria-controls="tabela" rowspan="1" colspan="1">Ação | <a href="#" id="incluirTelefone" data-toggle="modal" data-target="#modalTelefone" title="Adicionar"><i class="glyphicon glyphicon-plus"></i></a></th>
                                    <th class="text-center " tabindex="0" aria-controls="tabela" rowspan="1" colspan="1">Número</th>
                                    <th class="text-center " tabindex="0" aria-controls="tabela" rowspan="1" colspan="1">Tipo</th>
                                </tr>
                            </thead>
                            <tbody id="TabelaTelefone" class="bodyResultado">
                                <tr></tr>
                                @if (Model.Telefone.Count > 0)
                                {
                                   foreach (var item in Model.Telefone)
                                   {
                                    <tr class='text-center odd' role='row' id="@item.NumeroTel">
                                        <td class="sorting_1"><a href="#" title="Excluir" onclick="return excluirTelefoneBanco(@item.NumeroTel, @item.IdTelefone)"><i class="glyphicon glyphicon-trash"></i> Excluir</a></td>
                                        <td>@item.NumeroTel</td>
                                        <td>@item.TipoTel</td>
                                    </tr>
                                   }
                                }
                                @*else
                                {
                                    <tr></tr>
                                }*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- /row-->
    </div>

    <div class="col-xs-4"></div>
    <div class="col-xs-4">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
            <button id="btnAlterar" class="btn btn-block btn-primary"><i class="fa fa-save"></i>Alterar</button>
        </div>
        <br />
    </div>
</div>
<!-- INICIO MODAL AICIONAR -->
<div class="modal fade" id="modalTelefone" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content borda-redonda" style="overflow:auto">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;Telefones</h4>
            </div>
            <div class="modal-body">
                <table id="tabelaTelefone" class="table table-striped table-hover">
                    <tbody>
                        <tr>
                            <td>
                                <label>Telefone:</label>
                                <input type="number" class="form-control" id="telefonePaciente" />
                            </td>
                            <td>
                                <label>Tipo:</label>
                                <input type="text" class="form-control" id="tipoTelefonePaciente" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button class="btn btn-small" data-dismiss="modal" id="btnCancelarTelefone">
                    Cancelar
                </button>

                <button class="btn btn-small btn-primary" data-dismiss="modal" id="btnAdicionarTelefone">
                    Confirmar
                </button>
            </div>
        </div>
    </div>
</div>

<input type="text" id="idPaciente" class="hidden" value="@Model.IdPaciente"/>
@foreach (var item in @Model.Endereco)
{
    <input type="text" id="idEndereco" class="hidden" value="@item.IdEndereco" />
}
