﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SGH.Entities;
@model Funcionario

@section javascript{
    <script>
        $(function () {
            carregarMedico();
            carregarPaciente();

            $("#dataConsulta").datepicker({ dateFormat: 'dd/mm/yy' });

            $("#dataConsulta").change(function () {
                dataConsulta = $("#dataConsulta").val();
                medicoConsulta = $("#medicoConsulta").val().split("-")[0];

                if (dataConsulta != "" && medicoConsulta != "") {
                    $.ajax(
                    {
                        type: "POST",
                        url: "/Consulta/ListarConsultasPorData",
                        data: "dataConsulta=" + dataConsulta + "&idMedico=" + medicoConsulta,
                        success: function (data) {
                            jQuery("#horaConsulta").text("");

                            var optionhtmlSel = '<option value="0"> -- Selecione -- </option>';
                            jQuery("#horaConsulta").append(optionhtmlSel);

                            jQuery("#horaConsulta").append(data);
                            
                        },
                        error: function (e) {
                            alert("Erro de conexão com o banco de dados. " + e);
                        }
                    })
                }
                else
                {
                    return alert("Campo 'Data' obrigatório");
                }
               
            });

            $("#medicoConsulta").change(function () {
                dataConsulta = $("#dataConsulta").val();
                medicoConsulta = $("#medicoConsulta").val().split("-")[0];

                if (dataConsulta != "" &&medicoConsulta != "") {
                    $.ajax(
                    {
                        type: "POST",
                        url: "/Consulta/ListarConsultasPorData",
                        data: "dataConsulta=" + dataConsulta + "&idMedico=" + medicoConsulta,
                        success: function (data) {
                            jQuery("#horaConsulta").text("");

                            var optionhtmlSel = '<option value="0"> -- Selecione -- </option>';
                            jQuery("#horaConsulta").append(optionhtmlSel);

                            jQuery("#horaConsulta").append(data);

                        },
                        error: function (e) {
                            alert("Erro de conexão com o banco de dados. " + e);
                        }
                    })
                }
                else {
                    return alert("Campo 'Data' e 'Médico' obrigatório");
                }

            });

            $("#btnSalvar").click(function () {
                var dataConsulta = $("#dataConsulta").val();
                var horaConsulta = $("#horaConsulta option:selected").val();
                var valorConsulta = $("#valorConsulta").val();
                var funcionarioConsulta = $("#funcionarioConsulta").val().split("-")[0];
                var medicoConsulta = $("#medicoConsulta").val().split("-")[0];
                var pacienteConsulta = $("#pacienteConsulta").val().split("-")[0];
                var receitaConsulta = $("#receitaConsulta").val();

                if (dataConsulta == "") {
                    return alert("Campo 'Data' obrigatório");
                }

                if (horaConsulta == 0) {
                    return alert("Campo 'Hora' obrigatório");
                }

                if (valorConsulta == "") {
                    return alert("Campo 'Valor' obrigatório");
                }

                if (funcionarioConsulta == "") {
                    return alert("Campo 'Funcionário' obrigatório");
                }

                if (medicoConsulta == 0) {
                    return alert("Campo 'Médico' obrigatório");
                }

                if (pacienteConsulta == "") {
                    return alert("Campo 'Paciente' obrigatório");
                }

                if (receitaConsulta == 0) {
                    return alert("Campo 'Receita' obrigatório");
                }

                $.ajax(
                {
                    type: "POST",
                    url: "/Consulta/Salvar",
                    data: "dataConsulta=" + dataConsulta + "&horaConsulta=" + horaConsulta + "&valorConsulta=" + valorConsulta
                                             + "&funcionarioConsulta=" + funcionarioConsulta + "&medicoConsulta=" + medicoConsulta
                                                + "&pacienteConsulta=" + pacienteConsulta + "&receitaConsulta=" + receitaConsulta,
                    success: function (data) {                       
                        window.location.href = 'Index';                       
                    },
                    error: function (e) {
                        alert("Erro de conexão com o banco de dados.");
                    }
                })
            });
        });

        function carregarMedico() {
            $.ajax(
                {
                    type: "GET",
                    url: "/Medico/ListarMedicos",
                    success: function (data) {
                        if (data.length > 0) {
                            var listaMedicos = [];
                            jQuery.each(data, function (i) {
                                listaMedicos.push(data[i].IdMedico + " - " + data[i].Nome)
                            });
                            $("#medicoConsulta").autocomplete({ source: listaMedicos });
                        }
                    },
                    error: function (e) {
                        alert("Erro de conexão com o banco de dados.");
                    }
                })
        }

        function carregarPaciente() {
            $.ajax(
                {
                    type: "GET",
                    url: "/Paciente/ListarPacientes",
                    success: function (data) {
                        if (data.length > 0)
                        {
                            var listaPacientes = [];
                            jQuery.each(data, function (i) {
                                listaPacientes.push(data[i].IdPaciente + " - " + data[i].Nome)
                            });
                            $("#pacienteConsulta").autocomplete({ source: listaPacientes });
                        }
                    },
                    error: function (e) {
                        alert("Erro de conexão com o banco de dados.");
                    }
                })
        }
    </script>
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>Nova Consulta</h2>
    <hr />
</div>

<br />
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Médico:</label>
            <input type="text" class="form-control" id="medicoConsulta" />
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Data:</label>
            <input type="text" class="form-control" id="dataConsulta" />
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Hora:</label>
            <select class="form-control" id="horaConsulta">
                
                @*<option value="7">07:00</option>
                <option value="8">08:00</option>
                <option value="9">09:00</option>
                <option value="10">10:00</option>
                <option value="11">11:00</option>
                <option value="12">12:00</option>
                <option value="13">13:00</option>
                <option value="14">14:00</option>
                <option value="15">15:00</option>
                <option value="16">16:00</option>
                <option value="17">17:00</option>
                <option value="18">18:00</option>
                <option value="19">19:00</option>
                <option value="20">20:00</option>*@
            </select>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Valor:</label>
            <input type="text" class="form-control" id="valorConsulta" />
        </div>
    </div>


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Funcionário:</label>
            <input type="text" class="form-control" id="funcionarioConsulta" value="@Model.IdFuncionario - @Model.Login" readonly/>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Paciente:</label>
            <input type="text" class="form-control" id="pacienteConsulta" />
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Receita:</label>
            <textarea type="text" class="form-control" id="receitaConsulta"> </textarea>
        </div>
    </div>
</div>

<div class="col-xs-2">
</div>
<div class="col-xs-4">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4">
        <br />
        <button id="btnSalvar" class="btn btn-block btn-primary"><i class="fa fa-save"></i>Salvar</button>
    </div>
    <br />
</div>


