﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section javascript{
    <script type="text/javascript">

        $(document).ready(
            function () {
                $("#dataConsulta").datepicker({ dateFormat: 'dd/mm/yy' });

                //ao carregar preenche a tabela
                $.ajax(
                    {
                        type: "POST",
                        url: "/Consulta/CarregarConsultas",
                        success: function (dados) {
                            $("#tabelaConsulta tbody").html(dados);
                        },
                        error: function (e) {
                            $("#mensagem").html(e.status);
                        }
                    })

                $("#dataConsulta").change(
                    function () {
                        var dataConsulta = $("#dataConsulta").val();
                        if (dataConsulta != "")
                        {
                            $.ajax(
                            {
                                type: "POST",
                                url: "/Consulta/ConsultarConsultas",
                                data: "dataConsulta=" + dataConsulta,
                                success: function (dados) {
                                    $("#tabelaConsulta tbody").html(dados);
                                },
                                error: function (e) {
                                    $("#mensagem").html(e.status);
                                }
                            })
                        } 
                    })
        })


    </script>
}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>Consultas</h2>
    <hr />
</div>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <label>Data da Consulta: </label>
        <input type="text" id="dataConsulta" class="form-control" />
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <br />
        <a href="Create" class='btn btn-primary btn-sm' style="margin-top: 6px"> Nova Consulta </a>
    </div>

    @*<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <label>Nome do Médico: </label>
            <input type="text" id="nomeMedico" class="form-control" />
        </div>*@
</div>



<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <br />
    <br />
    <span id="mensagem"></span>

    <table id="tabelaConsulta" class="table table-hover">
        <thead>
            <tr>
                <th>Código</th>
                <th>Data</th>
                <th>Hora</th>
                <th>Valor Pago</th>
                <th>Funcionário</th>
                <th>Médico</th>
                <th>Paciente</th>
                <th>Receita</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


