﻿
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SGH.Entities;
@model Consulta

@section javascript{
    <script>
        $(function () {
            carregarMedico();
            carregarHoraDisponivel();
            
            $("#dataConsulta").datepicker({ dateFormat: 'dd/mm/yy' });

            $("#dataConsulta").change(function () {
                dataConsulta = $("#dataConsulta").val();
                medicoConsulta = $("#medicoConsulta").val().split("-")[0];

                if (dataConsulta != "" && medicoConsulta != "") {
                    $.ajax(
                    {
                        type: "POST",
                        url: "/Consulta/ListarConsultasPorData",
                        data: "dataConsulta=" + dataConsulta + "&idMedico=" + medicoConsulta,
                        success: function (data) {
                            jQuery("#horaConsulta").text("");

                            var optionhtmlSel = '<option value="0"> -- Selecione -- </option>';
                            jQuery("#horaConsulta").append(optionhtmlSel);

                            jQuery("#horaConsulta").append(data);

                        },
                        error: function (e) {
                            alert("Erro de conexão com o banco de dados. " + e);
                        }
                    })
                }
                else
                {
                    return alert("Campo 'Data' obrigatório");
                }

            });

            $("#medicoConsulta").change(function () {
                dataConsulta = $("#dataConsulta").val();
                medicoConsulta = $("#medicoConsulta").val().split("-")[0];

                if (dataConsulta != "" &&medicoConsulta != "") {
                    $.ajax(
                    {
                        type: "POST",
                        url: "/Consulta/ListarConsultasPorData",
                        data: "dataConsulta=" + dataConsulta + "&idMedico=" + medicoConsulta,
                        success: function (data) {
                            jQuery("#horaConsulta").text("");

                            var optionhtmlSel = '<option value="0"> -- Selecione -- </option>';
                            jQuery("#horaConsulta").append(optionhtmlSel);

                            jQuery("#horaConsulta").append(data);

                        },
                        error: function (e) {
                            alert("Erro de conexão com o banco de dados. " + e);
                        }
                    })
                }
                else {
                    return alert("Campo 'Data' e 'Médico' obrigatório");
                }

            });

            $("#btnAlterar").click(function () {
                var idConsulta = $("#idConsulta").val();
                var dataConsulta = $("#dataConsulta").val();
                var horaConsulta = $("#horaConsulta option:selected").val();
                var valorConsulta = $("#valorConsulta").val();              
                var medicoConsulta = $("#medicoConsulta").val().split("-")[0];
                var receitaConsulta = $("#receitaConsulta").val();

                if (dataConsulta == "") {
                    return alert("Campo 'Data' obrigatório");
                }

                if (horaConsulta == 0) {
                    return alert("Campo 'Hora' obrigatório");
                }

                if (valorConsulta == "") {
                    return alert("Campo 'Valor' obrigatório");
                }

                if (medicoConsulta == 0) {
                    return alert("Campo 'Médico' obrigatório");
                }

                if (receitaConsulta == 0) {
                    return alert("Campo 'Receita' obrigatório");
                }

                $.ajax(
                {
                    type: "POST",
                    url: "/Consulta/Alterar",
                    data: "idConsulta=" + idConsulta + "&dataConsulta=" + dataConsulta + "&horaConsulta=" + horaConsulta + "&valorConsulta=" + valorConsulta
                                              + "&medicoConsulta=" + medicoConsulta + "&receitaConsulta=" + receitaConsulta,
                    success: function (data) {
                        window.location.href = 'Index';
                    },
                    error: function (e) {
                        alert("Erro de conexão com o banco de dados.");
                    }
                })
            });
        });

        function carregarMedico() {
            $.ajax(
                {
                    type: "GET",
                    url: "/Medico/ListarMedicos",
                    success: function (data) {
                        if (data.length > 0) {
                            var listaMedicos = [];
                            jQuery.each(data, function (i) {
                                listaMedicos.push(data[i].IdMedico + " - " + data[i].Nome)
                            });
                            $("#medicoConsulta").autocomplete({ source: listaMedicos });
                        }
                    },
                    error: function (e) {
                        alert("Erro de conexão com o banco de dados.");
                    }
                })
        }
        //alert(window.location.href.split("=")[1]);
        function carregarHoraDisponivel()
        {     
            dataConsulta = $("#dataConsulta").val();
            medicoConsulta = $("#medicoConsulta").val().split("-")[0];

            if (dataConsulta != "" && medicoConsulta != "") {
                $.ajax(
                {
                    type: "POST",
                    url: "/Consulta/ListarConsultasPorData",
                    data: "dataConsulta=" + dataConsulta + "&idMedico=" + medicoConsulta,
                    success: function (data) {
                        var hora = $("#horaConsulta option:selected").val();

                        jQuery("#horaConsulta").text("");

                        
                        var optionhtmlSel = '<option value="'+ hora +'">' + hora + ':00 </option>';
                        jQuery("#horaConsulta").append(optionhtmlSel);

                        jQuery("#horaConsulta").append(data);
                       

                        $("#horaConsulta").val(hora);
                    },
                    error: function (e) {
                        alert("Erro de conexão com o banco de dados. " + e);
                    }
                })
            }
            else {
                return alert("Campo 'Data' obrigatório");
            }
        }
    </script>
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>Alterar Consulta</h2>
    <hr />
</div>

<br />
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Médico:</label>
            <input type="text" class="form-control" id="medicoConsulta" value="@Model.IdMedico - @Model.Medico.Nome" />
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Data:</label>
            <input type="text" class="form-control" id="dataConsulta" value="@Model.Data" />
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Hora:</label>
            <select class="form-control" id="horaConsulta" onloadstart="carregarHoraDisponivel(@Model.HoraFormatada)">
                <option value="@Model.HoraFormatada" selected class="hidden">@Model.HoraFormatada</option>
            </select>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Valor:</label>
            <input type="text" class="form-control" id="valorConsulta" value="@Model.ValorPago" />
        </div>
    </div>


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Funcionário:</label>
            <input type="text" class="form-control" id="funcionarioConsulta" value="@Model.IdFuncionario - @Model.Funcionario.Login" readonly />
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Paciente:</label>
            <input type="text" class="form-control" id="pacienteConsulta" value="@Model.IdPaciente - @Model.Paciente.Nome" readonly />
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Receita:</label>
            <textarea type="text" class="form-control" id="receitaConsulta">@Model.Receita </textarea>
        </div>
    </div>
</div>
<input type="text" class="form-control hidden" id="idConsulta" value="@Model.IdConsulta" readonly />
<div class="col-xs-2">
</div>
<div class="col-xs-4">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4">
        <br />
        <button id="btnAlterar" class="btn btn-block btn-primary"><i class="fa fa-save"></i>Alterar</button>
    </div>
    <br />
</div>




