﻿<!DOCTYPE html>

<html>
<head>
    <title>SGH</title>
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
 
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    @*<link rel="stylesheet" href="/resources/demos/style.css">*@
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript">
        var jQuery_1_9_1 = $.noConflict(true);
    </script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Seção para que outras páginas incluam conteudo javascript -->
    @RenderSection("javascript", required: false)

    <style>
        .titulo{
            color: white;
            text-align: center;
            font-size: 50px;
            margin-top: 20px;
        }

        .header a:link, .header a:hover, .header a {
            text-decoration: none;
            text-align: center;
            color: white;
        }

        table, tr,td,th{
            text-align:center;
        }
    </style>
</head>
<body>

    <div class="col-md-12 header" style="background-color:black;">
        <h2 class="titulo">@Html.ActionLink("SGH", "Index", "Home")</h2>
        @*<h2 class="titulo"><a href="~/Home/Index"><img src="~/IMG/logo.png" /></a></h2>*@
        @*<h2 style="color:white;text-align:center;font-size:50px;margin-top:20px;">SGH</h2>*@
        <p style="color:white;text-align:center;font-size:25px;margin:0px;">Sistema Gerenciador de Hospitais</p>
    </div>
    <div class="col-md-12 " style="background-color:black;">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="col-md-6"></div>

            <div class="col-md-6">

                <button type="button" data-toggle="modal" data-target="#modalTipoContratacao" class="btn btn-primary btn-sm" style="width: 100px; height: 30px;">Perfil</button>
                @*@Html.ActionLink("Perfil", "Logout", "Login", new { }, new { @class = "btn btn-primary btn-sm", @style= "width: 100px; height: 30px; "})*@
                @Html.ActionLink("Sair", "Logout", "Login", new { }, new { @class = "btn btn-primary btn-sm", @style = "width: 100px; height: 30px; " })
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            @RenderBody()
        </div>

        <!-- INICIO MODAL AICIONAR -->
        @*<div class="modal fade" id="modalTipoContratacao">
                <div class="modal-dialog">
                    <div class="modal-content borda-redonda" style="overflow:auto">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;Tipo de Contratação</h4>
                        </div>
                        <div class="modal-body">
                            <table id="tabela" class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Descrição</th>
                                        <th>Situação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control" id="cmdDescricaoTipoContratacao" />
                                        </td>
                                        <td>
                                            <select class="form-control" id="cmdSituacaoTipoContratacao" style="width:130px">
                                                <option value="0"> -- Selecione -- </option>
                                                <option value="2">Ativo</option>
                                                <option value="1">Inativo</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table>
                                <tbody class="tBodySubTipo">
                                    <tr></tr>
                                </tbody>
                            </table>
                            <input type="text" class="form-control" id="cmdIdTipoContratacao" style="visibility:hidden" />
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-small" data-dismiss="modal" id="btnCancelarTipoContratacao">
                                Cancelar
                            </button>

                            <button class="btn btn-small btn-primary" id="btnAdicionarTipoContratacao">
                                Confirmar
                            </button>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
</body>
</html>

