﻿
@{
    ViewBag.Title = "Funcionario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section javascript{
    <script type="text/javascript">

        $(document).ready(
            function () {
                //ao carregar preenche a tabela
                $.ajax(
                    {
                        type: "POST",
                        url: "/Funcionario/CarregarFuncionarios",
                        success: function (dados) {
                            $("#tabelaFuncionario tbody").html(dados);
                        },
                        error: function (e) {
                            $("#mensagem").html(e.status);
                        }
                    })

                //enquanto digitar o nome no campo
                $("#nomeFuncionario").keyup(
                    function () {
                        $.ajax(
                            {
                                type: "POST",
                                url: "/Funcionario/ConsultarFuncionarios",
                                data: "Nome=" + $("#nomeFuncionario").val(),
                                success: function (dados) {
                                    $("#tabelaFuncionario tbody").html(dados);
                                },
                                error: function (e) {
                                    $("#mensagem").html(e.status);
                                }
                            })
                    })
        })


    </script>
}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>Funcionários</h2>
    <hr />
</div>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <label>Nome do Funcionário: </label>
        <input type="text" id="nomeFuncionario" class="form-control" />
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <br />
        <a href="Create" class='btn btn-primary btn-sm' style="margin-top: 6px"> Novo Funcionário </a>
    </div>

    @*<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <label>Nome do Médico: </label>
            <input type="text" id="nomeMedico" class="form-control" />
        </div>*@
</div>



<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <br />
    <br />
    <span id="mensagem"></span>

    <table id="tabelaFuncionario" class="table table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Login</th>
                <th>Senha</th>
                <th>Data de Cadastro</th>              
                <th>Ação</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>





@*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>Novo Funcionário</h2>
    <hr />
</div>

<br />
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Nome:</label>
            <input type="text" class="form-control" id="nomeFuncionario" />
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Login:</label>
            <input type="text" class="form-control" id="loginFuncionario" />
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Senha:</label>
            <input type="text" class="form-control" id="senhaFuncionario">
        </div>
    </div>
</div> 

<div class="col-xs-2">
</div>
<div class="col-xs-4">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4">
        <br />
        <button id="btnSalvar" class="btn btn-block btn-primary"><i class="fa fa-save"></i>Salvar</button>
    </div>
    <br />
</div>*@