﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /*Author: Kosmom.ru*/ .loading, .loading > td, .loading > th, .nav li.loading.active > a, .pagination li.loading, .pagination > li.active.loading > a, .pager > li.loading > a {
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
        background-size: 150px 150px;
        animation: 2s linear 0s normal none infinite progress-bar-stripes;
        -webkit-animation: progress-bar-stripes 2s linear infinite;
    }

    .btn.btn-default.loading, input[type="text"].loading, select.loading, textarea.loading, .well.loading, .list-group-item.loading, .pagination > li.active.loading > a, .pager > li.loading > a {
        background-image: linear-gradient(45deg, rgba(235, 235, 235, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(235, 235, 235, 0.15) 50%, rgba(235, 235, 235, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    }

    .loading {
        width: 150px;
        height: 150px;
        font-size: 20px;
    }

    p {
        margin-top: 50px;
    }

    .containers {
        background-color: red;
    }

    a {
        padding: 100px;
    }

    .espaco {
        width: 150px;
        height: 150px;
    }

    .magin {
        margin-left: 50px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="espaco"></div>
        @*<div class="espaco"></div>*@
        <div class="col-md-12 magin">
            <div class="col-md-2">
                
            </div>
            <div class="col-md-3">
                <a href='@(Url.Action("Index", "Funcionario"))'class="btn btn-success loading"><p>Funcionário</p></a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-info loading" href='@(Url.Action("Index", "Medico"))'><p>Médico</p></a>
            </div>
            <div class="col-md-3">
                <a href="@(Url.Action("Index", "Report"))" class="btn btn-primary loading"><p>Relatórios</p></a>
            </div>
        </div>


    </div>
</div>
