﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section javascript{
    <script>
  $( function() {
      $("#btnSalvar").click(function () {
          var nomeFuncionario = $("#nomeFuncionario").val();
          var loginFuncionario = $("#loginFuncionario").val();         
          var senhaFuncionario = $("#senhaFuncionario").val();
          var senhaConfirmFuncionario = $("#senhaConfirmFuncionario").val();
        
          if (nomeFuncionario == "") {
              return alert("Campo 'Nome' obrigatório");
          }

          if (loginFuncionario == "") {
              return alert("Campo 'Login' obrigatório");
          }

          if (senhaFuncionario == 0) {
              return alert("Campo 'Senha' obrigatório");
          }

          if (senhaConfirmFuncionario == "") {
              return alert("Campo 'Confirme a Senha' obrigatório");
          }

          if (senhaFuncionario !== senhaConfirmFuncionario) {
              return alert("As senhas não conferem");
          }

          $.ajax(
           {
               type: "POST",
               url: "/Funcionario/Salvar",
               data: "nomeFuncionario=" + nomeFuncionario + "&loginFuncionario=" + loginFuncionario + "&senhaFuncionario=" + senhaFuncionario,
               success: function (data) {
                   if (data !== "Email já cadastrado") {
                       window.location.href = 'Index';
                   }
                   else
                   {
                       $("#loginFuncionario").val("");
                       $("#senhaFuncionario").val("");
                       $("#senhaConfirmFuncionario").val("");

                       alert(data);
                   }
               },
               error: function (e) {
                   alert("Erro de conexão com o banco de dados.");
               }
           })
      });
  });

  
    </script>
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>Novo Funcionário</h2>
    <hr />
 </div>

<br />
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Nome:</label>
            <input type="text" class="form-control" id="nomeFuncionario" />
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Login:</label>
            <input type="text" class="form-control" id="loginFuncionario" />
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Senha:</label>
            <input type="password" class="form-control" id="senhaFuncionario">
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Confirme a Senha:</label>
            <input type="password" class="form-control" id="senhaConfirmFuncionario">
        </div>
    </div>
</div>

<div class="col-xs-2">
</div>
<div class="col-xs-4">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4">
        <br />
        <button id="btnSalvar" class="btn btn-block btn-primary"><i class="fa fa-save"></i>Salvar</button>
    </div>
    <br />
</div>
