﻿
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SGH.Entities;
@model Funcionario


@section javascript{
    <script>
  $( function() {
      $("#btnAlterar").click(function () {
          var nomeFuncionario = $("#nomeFuncionario").val();
          var loginFuncionario = $("#loginFuncionario").val();
         
          if (nomeFuncionario == "") {
              return alert("Campo 'Nome' obrigatório");
          }

          if (loginFuncionario == "") {
              return alert("Campo 'Login' obrigatório");
          }

          $.ajax(
           {
               type: "POST",
               url: "/Funcionario/Alterar",
               data: "nomeFuncionario=" + nomeFuncionario + "&loginFuncionario=" + loginFuncionario,
               success: function (data) {
                  
                    window.location.href = 'Index';
                  
               },
               error: function (e) {
                   alert("Erro de conexão com o banco de dados.");
               }
           })
      });
  });


    </script>
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>Alterar Funcionário</h2>
    <hr />
</div>

<br />
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Nome:</label>
            <input type="text" class="form-control" id="nomeFuncionario" value="@Model.Nome" />
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Login:</label>
            <input type="text" class="form-control" id="loginFuncionario" value="@Model.Login" readonly/>
        </div>
    </div>
</div>

<div class="col-xs-2">
</div>
<div class="col-xs-4">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4">
        <br />
        <button id="btnAlterar" class="btn btn-block btn-primary"><i class="fa fa-save"></i>Alterar</button>
    </div>
    <br />
</div>


