﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section javascript{
    <script type="text/javascript">

        $(document).ready(
            function () {
                $("#dataConsulta").datepicker({ dateFormat: 'dd/mm/yy' });

                carregarMedicamentos();

                $("#dataConsulta").change(
                    function () {
                        var dataConsulta = $("#dataConsulta").val();
                        if (dataConsulta != "")
                        {
                            $.ajax(
                            {
                                type: "POST",
                                url: "/Consulta/ConsultarConsultasTratamento",
                                data: "dataConsulta=" + dataConsulta,
                                success: function (dados) {
                                    $("#tabelaConsulta tbody").html(dados);
                                },
                                error: function (e) {
                                    $("#mensagem").html(e.status);
                                }
                            })
                        }
                    })

                $("#btnSalvar").click(function () {
                    var descricaoTratamento = $("#descricaoTratamento").val();
                    var idConsulta = $("#idConsulta").val().split("-")[0];
                    var idMedicacao = $("#idMedicacao").val().split("-")[0];

                    if (descricaoTratamento == "") {
                        return alert("Campo 'Descrição' obrigatório");
                    }

                    if (idConsulta == "") {
                        return alert("Campo 'Consulta' obrigatório");
                    }

                    if (idMedicacao == 0) {
                        return alert("Campo 'Medicação' obrigatório");
                    }

                    $.ajax(
                     {
                         type: "POST",
                         url: "/Tratamento/Salvar",
                         data: "descricaoTratamento=" + descricaoTratamento + "&idConsulta=" + idConsulta + "&idMedicacao=" + idMedicacao,
                         success: function (data) {                          
                            window.location.href = 'Index';     
                         },
                         error: function (e) {
                             alert("Erro de conexão com o banco de dados.");
                         }
                     })
                });
        })

       function preencherConsulta(dataConsulta, horaConsulta)
        {
           $.ajax(
            {
                type: "POST",
                url: "/Consulta/ObterConsultaPorDataHora",
                data: "dataConsulta=" + dataConsulta + "&horaConsulta=" + horaConsulta,
                success: function (dados) {
                    $("#idConsulta").val(dados);
                    $('#modalConsulta').modal('toggle');
                },
                error: function (e) {
                    $("#mensagem").html(e.status);
                }
            })
       }

       function carregarMedicamentos() {
           $.ajax(
               {
                   type: "GET",
                   url: "/Medicacao/ListarMedicamentos",
                   success: function (data) {
                       if (data.length > 0) {
                           var listaMedicamentos = [];
                           jQuery.each(data, function (i) {
                               listaMedicamentos.push(data[i].IdMedicacao + " - " + data[i].Nome)
                           });
                           $("#idMedicacao").autocomplete({ source: listaMedicamentos });
                       }
                   },
                   error: function (e) {
                       alert("Erro de conexão com o banco de dados.");
                   }
               })
       }
    </script>
}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>Novo Tratamento</h2>
    <hr />
</div>

<br />
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Descrição:</label>
            <textarea type="text" class="form-control" id="descricaoTratamento"></textarea>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Consulta:</label>
            <input type="text" class="form-control" id="idConsulta" data-toggle="modal" data-target="#modalConsulta"/>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <div class="col-xs-4">
            <label>Medicação:</label>
            <input type="text" class="form-control" id="idMedicacao" />
        </div>
    </div>

    
</div>

<div class="col-xs-2">
</div>
<div class="col-xs-4">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4">
        <br />
        <button id="btnSalvar" class="btn btn-block btn-primary"><i class="fa fa-save"></i>Salvar</button>
    </div>
    <br />
</div>



 <!-- INICIO MODAL AICIONAR -->
<div class="modal fade" id="modalConsulta" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content borda-redonda" style="overflow:auto">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;Consultas</h4>
            </div>
           
            <div class="modal-body">
                 <div class="col-xs-4">
                    <label>Data da Consulta:</label>
                    <input type="text" id="dataConsulta" class="form-control" />
                    <br />
                </div>
                <table id="tabelaConsulta" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Data Consulta</th>
                            <th>Hora Consulta</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button class="btn btn-small" data-dismiss="modal" id="btnCancelarConsulta">
                    Cancelar
                </button>

                <button class="btn btn-small btn-primary" data-dismiss="modal" id="btnAdicionarConsulta">
                    Confirmar
                </button>
            </div>
        </div>
    </div>
</div>