﻿<div class="col-md-3">
   
</div>
<div class="col-md-3">
    <a class="btn btn-primary loading" href='@(Url.Action("Index", "Paciente"))'><p>Paciente</p></a>
</div>
<div class="col-md-3">
    <a class="btn btn-danger loading" href='@(Url.Action("Index", "Consulta"))'><p>Consulta</p></a>
</div>
<div class="col-md-3">
    
</div>  
