﻿<div class="col-md-3">

</div>
<div class="col-md-3">
    <a class="btn btn-danger loading" href='@(Url.Action("Index", "Consulta"))'><p>Consulta</p></a>
</div>
<div class="col-md-3">
    <a class="btn btn-success loading" href='@(Url.Action("Index", "Tratamento"))'><p>Tratamento</p></a>
</div>
<div class="col-md-3">

</div> 
