﻿
@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>Relatório de Consultas</h2>
    <hr />
</div>

<iframe id="iFrameReportViewer" src="~/Reports/ReportConsulta.aspx" style="width: 99%; height: 3500px" scrolling="no" frameborder="0"></iframe>

