﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@section javascript{
<script>
    $(function () {
       // Report();

    });

    function Report() {
        url = "~/Reports/ReportConsulta.aspx";
        
        var myFrame = document.getElementById("iFrameReportViewer");
        if (myFrame !== null) {
            if (myFrame.src) {
                myFrame.src = url;
            }
            else if (myFrame.contentWindow !== null && myFrame.contentWindow.location !== null) {
                myFrame.contentWindow.location = url;
            }
            else {
                myFrame.setAttribute('src', url);
            }
        }
        return false;
    }

</script>
}*@
<style>
    /*Author: Kosmom.ru*/ .loading, .loading > td, .loading > th, .nav li.loading.active > a, .pagination li.loading, .pagination > li.active.loading > a, .pager > li.loading > a {
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
        background-size: 150px 150px;
        animation: 2s linear 0s normal none infinite progress-bar-stripes;
        -webkit-animation: progress-bar-stripes 2s linear infinite;
    }

    .btn.btn-default.loading, input[type="text"].loading, select.loading, textarea.loading, .well.loading, .list-group-item.loading, .pagination > li.active.loading > a, .pager > li.loading > a {
        background-image: linear-gradient(45deg, rgba(235, 235, 235, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(235, 235, 235, 0.15) 50%, rgba(235, 235, 235, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    }

    .loading {
        width: 150px;
        height: 150px;
        font-size: 20px;
    }

    p {
        margin-top: 50px;
    }

    .containers {
        background-color: red;
    }

    a {
        padding: 100px;
    }

    .espaco {
        width: 150px;
        height: 150px;
    }

    .magin {
        margin-left: 50px;
    }
</style>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>Relatórios</h2>
    <hr />
</div>

<div class="container">
    <div class="col-md-2">
        
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary loading" href='@(Url.Action("Paciente", "Report"))'><p>Pacientes</p></a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-danger loading" href='@(Url.Action("Consulta", "Report"))'><p>Consultas</p></a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-success loading" href='@(Url.Action("Tratamento", "Report"))'><p>Tratamentos</p></a>
    </div>
</div>
  

@*<iframe  id="iFrameReportViewer" src="~/Reports/ReportConsulta.aspx" style="width: 99%; height: 3500px" scrolling="no" frameborder="0"></iframe>*@
      
@*<a href="~/Reports/ReportConsulta.aspx">~/Reports/ReportConsulta.aspx</a>*@
